* {
    box-sizing: border-box;
}

body, body::backdrop, body:fullscreen {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body:after {
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100dvh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: url('bg.jpg') no-repeat center;
    background-size: cover;
}

#title-screen {
    color: white;
    text-shadow: 6px 4px 1px #b6c0cfd1;
}

#title-screen .subtitle {
    font-weight: 200;
    font-size: 3rem;
    margin-top: 0.5em;
    text-align: center;
}

#title-screen, #game-screen, #menu-screen {
    padding: 12px;

    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(7, 2fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#menu-screen {
    height: 100dvh;
    color: white;
}

#menu-screen form {
    font-size: 12pt;
}

#menu-screen form label {
    display: block;
}

.center {
    grid-area: 1 / 1 / 9 / 5;
    place-self: center;
    font-size: 11ch;
    font-weight: bold;
}

.messages {
    grid-area: 1 / 2 / 3 / 4;
    font-size: 3em;
    text-align: center;
}

.gameMode {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 3em;
    justify-self: left;
}

.round {
    grid-area: 1 / 4 / 2 / 5;
    font-size: 3em;
    justify-self: right;
}

.currentPlayer {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 3em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.statistics {
    grid-area: 2 / 4 / 3 / 5;
    font-size: 2em;
    align-self: start;
    justify-self: end;
}

.dart_one {
    grid-area: 3 / 1 / 4 / 2;
}

.dart_two {
    grid-area: 4 / 1 / 5 / 2;
}

.dart_three {
    grid-area: 5 / 1 / 6 / 2;
}

.dart_one, .dart_two, .dart_three {
    font-size: 3em;
    align-self: center;
    justify-self: center;
}

.currentDartSum {
    grid-area: 6 / 1 / 7 / 2;
    font-size: 3em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.currentScore {
    grid-area: 5 / 2 / 7 / 4;
    text-align: center;
    font-size: 11ch;
    font-weight: bold;
}

.currentScore.Cricket {
    font-size: 7ch;
}

.score {
    padding: 12px;
}

.score.active {
    border: 1px solid white;
}

.score .playerName {
    font-size: 2em;
}

.score .playerScore {
    font-size: 3em;
    font-weight: bold;
}

.score.p1 {
    grid-area: 7 / 1 / 8 / 2;
}

.score.p2 {
    grid-area: 7 / 2 / 8 / 3;
}

.score.p3 {
    grid-area: 7 / 3 / 8 / 4;
}

.score.p4 {
    grid-area: 7 / 4 / 8 / 5;
}

.score.p5 {
    grid-area: 8 / 1 / 9 / 2;
}

.score.p6 {
    grid-area: 8 / 2 / 9 / 3;
}

.score.p7 {
    grid-area: 8 / 3 / 9 / 4;
}

.score.p8 {
    grid-area: 8 / 4 / 9 / 5;
}