<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/normalize.css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/fontsource__roboto/400.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>DodoDart - Scoreboard</title>
</head>
<body>
<div hx-ext="sse" sse-connect="/register">
    <div id="score-wrapper" hx-trigger="sse:message" hx-get="/game"></div>
</div>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/ext/sse.js}"></script>
<script type="text/javascript" th:src="@{/webjars/howler.js/dist/howler.core.min.js}"></script>
<script type="text/javascript" th:src="@{/app.js}"></script>
</body>
</html>