<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DodoDart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/normalize.css/normalize.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" th:href="@{/webjars/fontsource__roboto/400.css}"/>
</head>
<body>
<div>
    <button type="button" hx-post="/nextPlayer" hx-swap="none">Next Player</button>
</div>
<th:block th:each="i: ${#numbers.sequence(20, 1)}">
    <div>
        <button type="button"
                th:attr="hx-post=|@{/hit/SINGLE_}${#numbers.formatInteger(i,2)}|,hx-swap=|none|"
                th:text="${i}">20
        </button>
        <button type="button"
                th:attr="hx-post=|@{/hit/DOUBLE_}${#numbers.formatInteger(i,2)}|,hx-swap=|none|"
                th:text="|D${i}|">D20
        </button>
        <button type="button"
                th:attr="hx-post=|@{/hit/TRIPLE_}${#numbers.formatInteger(i,2)}|,hx-swap=|none|"
                th:text="|T${i}|">T20
        </button>
    </div>
</th:block>
<div>
    <button type="button" hx-post="/hit/SINGLE_BULL" hx-swap="none">BULL</button>
    <button type="button" hx-post="/hit/DOUBLE_BULL" hx-swap="none">DBULL</button>
</div>

<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
</body>
</html>