<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/normalize.css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/fontsource__roboto/400.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>DodoDart - Menü</title>
</head>
<body>
<div id="menu-screen">
    <div class="center">
        <div class="title">DodoDart!</div>
        <form th:action="@{/}" method="post" th:object="${inputModel}">
            <label for="gameType">Spiele</label>
            <select name="gameType" id="gameType">
                <option value="x01" selected>501</option>
                <option value="elimination">301 Elimination</option>
                <option value="minimination">101 Minimination</option>
                <option value="highscore">Highscore</option>
                <option value="splitscore">Split Score</option>
                <option value="cricket">Cricket</option>
            </select>

            <label for="noOfPlayers">Spieleranzahl (max. 8)</label>
            <input inputmode="numeric"
                   pattern="[1-8]"
                   type="number" min="1" max="8" step="1" value="2"
                   name="noOfPlayers" id="noOfPlayers">
            <button hx-post="/" hx-swap="none">
                Play
            </button>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
</body>
</html>