<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DodoDart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/normalize.css/normalize.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link rel="stylesheet" th:href="@{/webjars/fontsource__roboto/400.css}"/>
    <link rel="stylesheet" th:href="@{/assets/style.css}"/>
</head>
<body>
<div hx-ext="sse" sse-connect="/x01/register">
    <div id="score-wrapper" hx-trigger="sse:message" hx-get="/x01/score"></div>
</div>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/ext/sse.js}"></script>
</body>
</html>